RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

Header set Content-Security-Policy "frame-ancestors 'self';"

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html
